<html>
    <head>
        <title></title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-8">

                    <!-- NAVBAR -->
                    <div class="row" id="navbar">
                        <div class="col">
                            <img src="https://images.ctfassets.net/na3uvakhy5ts/2h3UV5I6TTV5FM3LDccCY7/c750f6de525edcebe89a1454bb38f057/UNESCO_logo_hor_blue.jpg">
                        </div>
                    </div>

                    <!-- IMAGE -->
                    <div class="row">

                    </div>

                    <!-- ORGANIZATIONS -->
                    <div class="row">

                    </div>

                </div>

                <!-- FORM -->
                <div class="col-4">

                </div>
            </div>
        </div>
    </body>
</html>