<html>
    <head>
        <title></title>
    </head>
    <body>
        <div class="container-fluid">
        
            <div class="row">
                <div class="col">
                    <h3>Donors</h3>
                </div>
            </div>
            
            <div class="row">
                <div class="col" style="text-align: center;">
                    <a href="/donors/sign_in">
                        <button class="btn btn-primary" style="width: 512px;">Login</button>
                    </a>
                </div>
            </div>
            
            <div class="row">
                <div class="col" style="text-align: center;">
                    <a href="/donors/sign_up">
                        <button class="btn btn-primary" style="width: 512px;">Sign Up</button>
                    </a>
                </div>
            </div>
            
            <!---->
            
            <div class="row">
                <div class="col">
                    <h3>Organizations</h3>
                </div>
            </div>
            
            <div class="row">
                <div class="col" style="text-align: center;">
                    <a href="/organizations/sign_in">
                        <button class="btn btn-primary" style="width: 512px;">Login</button>
                    </a>
                </div>
            </div>
            
            <div class="row">
                <div class="col" style="text-align: center;">
                    <a href="/organizations/sign_up">
                        <button class="btn btn-primary" style="width: 512px;">Sign Up</button>
                    </a>
                </div>
            </div>

        </div>
    </body>
</html>