<div class="row feed-post" style="background-color: white; margin: 16px; border-radius: 8px;">
    <div class="col">
        
        <div class="row feed-post-header">
            <div class="col-1">
                <img src="">
            </div>
            <div class="col-1">
                <span>Marcos</span>
            </div>

            <div class="col-10" style="text-align: right;">
                <%= fa_icon 'ellipsis-v' %>
            </div>
        </div>

        <div class="row feed-post-content">
            
            <div class="col-1">
                <span>ORG/DONOR AVATAR</span>
            </div>

            <div class="col-4">
                <span>EVENT/BADGE IMAGE</span>
            </div>

            <div class="col-7">
                <span>TEXT CONTENT</span>
            </div>

        </div>

        <div class="row feed-post-footer">
            <div class="col">

                <div class="row">
                    <div class="col">
                        <h3>TITULO DO POIO A CAIR</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonum-my nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</span>
                    </div>
                </div>

                <div class="row feed-post-actions">

                    <div class="col-2">
                        <button class="btn btn-primary">Donate</button>
                    </div>

                    <div class="col-2">
                        <button class="btn btn-primary">Send</button>
                    </div>

                    <div class="col-4"></div>

                    <div class="col-2">
                        <button class="btn btn-primary">Share</button>
                    </div>

                    <div class="col-2">
                        <button class="btn btn-primary">Add to favorites (ORG)</button>
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>