<div class="row feed-post" style="background-color: white; border-radius: 8px;">
    <% @events.each do |event| %>
        <%= render 'donors/feed/partials/feed_card', event: event %>
    <% end %>
</div>