@import "colors";

.auth-brand {
    width: 256px;
}

#auth-info {
    background: rgb(120,255,214);
    background: linear-gradient(180deg, rgba(120,255,214,1) 0%, rgba(0,121,145,1) 100%);
}

.auth-thumbnail {
    background-image: url(asset-path('seca.jpg'));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.auth-form {
    background-color: $almost-white;
}