<div class="row feed-profile" style="background-color: white; border-radius: 8px;">

    <!-- BANNER INFO -->
    <div class="row">
      <div class="col-12">
        <img src="https://media.newyorker.com/photos/59095e9b019dfc3494e9fb43/master/pass/Frazier-Animal-Mascots-Climate-Change.jpg" class="profile-banner">
      </div>
    </div>

    <!-- USER INFO -->
    <div class="row">
      <div class="row">
          <div class="col-2">
              <img src="https://w7.pngwing.com/pngs/419/552/png-transparent-caritas-archidiecezji-warmi%C5%84skiej-caritas-internationalis-caritas-diocesana-logo-caritas-italiana-others-angle-logo-business-thumbnail.png" class="feed-avatar">
          </div>

          <div class="col-10 my-auto">
              <div class="row">
                  <h6>Cáritas</h6>
              </div>
              <div class="row">
                  <span>Published at XXX</span>
              </div>
          </div>
      </div>

      <!-- Feed -->
      <div class="row" style="margin-top: 16px;">
          <!-- Bio -->
          <div class="col-3">
          </div>

          <!-- Activity -->
          <div class="col-7"></div>
      </div>
    </div>
</div>