<div class="row" style="margin-bottom: 32px;">
    <div class="col-5"></div>
    <div class="col-1 my-auto">
        <button class="feed-tab">Surveys</button>
    </div>
    <div class="col-1 my-auto">
        <button class="feed-tab active">Games</button>
    </div>
    <div class="col-5"></div>
</div>

<div class="row">
    <%= render 'donors/revenue/partials/game_list' %>
</div>